.table__container {
  transition: 1s height linear;
  margin-top: 40px;
}

.uploaded {
  margin-left: 15px;
}

.files {
  text-align: center;
  width: 100%;
  border: 0;
  margin-left: auto;
  margin-right: auto;
  border-spacing: 2px;
  border-collapse: separate;
  text-indent: 0;
}

.files__header {
  color: #b7472a;
  border-bottom-width: 2px;
  font-weight: 200;
  font-size: 1.4em;
}

.files__header__spacing {
  margin-bottom: 10px;
}

.table {
  width: 100%;
}
